<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>Accueil</title>
</head>

<body>
<main layout:fragment="content">
    <h1>Liste des produits</h1>
    <a href="/product/new" class="btn btn-primary mb-3">Ajouter un produit</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Prix</th>
            <th>Année</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.productType}"></td>
            <td th:text="${product.brand}"></td>
            <td th:text="${product.model}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.year}"></td>
            <td>
                <a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-sm btn-primary">Modifier</a>
                <a th:href="@{/product/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav th:if="${totalPages > 1}" aria-label="Pagination">
        <ul class="pagination justify-content-center">
            <!-- Bouton Précédent -->
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/(page=${currentPage - 1})}">Précédent</a>
            </li>

            <!-- Numéros de pages -->
            <li class="page-item"
                th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/(page=${i})}" th:text="${i + 1}"></a>
            </li>

            <!-- Bouton Suivant -->
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/(page=${currentPage + 1})}">Suivant</a>
            </li>
        </ul>
    </nav>
</main>
</body>
</html>